<a href="https://colab.research.google.com/github/git-add-akshay/Doc-Assist-BOT/blob/main/cardio_bot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
from IPython.display import Image
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [2]:
cd '/gdrive/My Drive/Colab Notebooks/team_UBUNTU'

/gdrive/My Drive/Colab Notebooks/team_UBUNTU

In [3]:
import torch
import torch.nn as nn
import torch.nn.functional as F

import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.metrics import confusion_matrix
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import metrics

from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier

# CARDIO DISEASES

In [10]:
df = pd.read_csv('cardio_train.csv', delimiter=';')

In [11]:
df = df.drop('id',axis = 1)

In [12]:
df

         age  gender  height  weight  ap_hi  ...  gluc  smoke  alco  active  cardio
0      18393       2     168    62.0    110  ...     1      0     0       1       0
1      20228       1     156    85.0    140  ...     1      0     0       1       1
2      18857       1     165    64.0    130  ...     1      0     0       0       1
3      17623       2     169    82.0    150  ...     1      0     0       1       1
4      17474       1     156    56.0    100  ...     1      0     0       0       0
...      ...     ...     ...     ...    ...  ...   ...    ...   ...     ...     ...
69995  19240       2     168    76.0    120  ...     1      1     0       1       0
69996  22601       1     158   126.0    140  ...     2      0     0       1       1
69997  19066       2     183   105.0    180  ...     1      0     1       0       1
69998  22431       1     163    72.0    135  ...     2      0     0       0       1
69999  20540       1     170    72.0    120  ...     1      0     0       1       0

[70000 rows x 12 columns]

In [14]:
X = df[df.columns.difference(['cardio'])]
y = df['cardio']

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=42)

In [62]:
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [63]:
y_pred = model.predict(X_test)

In [64]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7152380952380952

# USER INPUT AND FLASK

In [47]:
'''
Age | Objective Feature | age | int (days)
Height | Objective Feature | height | int (cm) |
Weight | Objective Feature | weight | float (kg) |
Gender | Objective Feature | gender | categorical code |
Systolic blood pressure | Examination Feature | ap_hi | int |
Diastolic blood pressure | Examination Feature | ap_lo | int |
Cholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |
Glucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |
Smoking | Subjective Feature | smoke | binary |
Alcohol intake | Subjective Feature | alco | binary |
Physical activity | Subjective Feature | active | binary |
Presence or absence of cardiovascular disease | Target Variable | cardio | binary |
'''

'\nAge | Objective Feature | age | int (days)\nHeight | Objective Feature | height | int (cm) |\nWeight | Objective Feature | weight | float (kg) |\nGender | Objective Feature | gender | categorical code |\nSystolic blood pressure | Examination Feature | ap_hi | int |\nDiastolic blood pressure | Examination Feature | ap_lo | int |\nCholesterol | Examination Feature | cholesterol | 1: normal, 2: above normal, 3: well above normal |\nGlucose | Examination Feature | gluc | 1: normal, 2: above normal, 3: well above normal |\nSmoking | Subjective Feature | smoke | binary |\nAlcohol intake | Subjective Feature | alco | binary |\nPhysical activity | Subjective Feature | active | binary |\nPresence or absence of cardiovascular disease | Target Variable | cardio | binary |\n'

In [68]:
X_test

       active    age  alco  ap_hi  ap_lo  ...  gender  gluc  height  smoke  weight
46730       1  21770     0    140     80  ...       1     1     156      0    64.0
48393       1  21876     0    160     90  ...       1     1     170      0    85.0
41416       1  23270     0    130     80  ...       1     1     151      0    90.0
34506       1  19741     0    120     80  ...       1     1     159      0    97.0
43725       1  18395     0    120     80  ...       1     1     164      0    68.0
...       ...    ...   ...    ...    ...  ...     ...   ...     ...    ...     ...
67628       1  22623     0    130     80  ...       2     1     178      0    96.0
42728       1  16594     0    120     80  ...       1     1     158      0    81.0
24612       0  21361     0    150     95  ...       1     1     165      0    84.0
37000       1  19862     0    120     80  ...       1     1     160      0    65.0
13856       1  18011     0    140     90  ...       1     1     164      0    90.0

[10500 rows x 11 columns]

In [79]:
features = []
phyAct = int(input("do you have phyisical activity 1 - yes 0- no"))
features.append(phyAct)
age = int(input("enter age in days"))
features.append(age)
alch = int(input("do u drink alchol , 0 for no and 1 for yes"))
features.append(alch)
sysBp = int(input("enter your Systolic blood pressure"))
features.append(sysBp)
DiaBp = int(input("enter your Diastolic blood pressure"))
features.append(DiaBp)
chol = int(input("enter you cholestrol level : 1 for normal 2 : high 3: very high"))
features.append(chol)
gd = int(input("enter your gender (1 - women, 2 - men)"))
features.append(gd)
gluLevel = int(input("enter your glucode level 1: normal, 2: high, 3: very high"))
features.append(gluLevel)
height = int(input("enter your height"))
features.append(height)
smoke = int(input("DO you smoke 0 - no 1-yes "))
features.append(smoke)
weight = int(input("enter your weight"))
features.append(weight)

do you have phyisical activity 1 - yes 0- no1
enter age in days2770
do u drink alchol , 0 for no and 1 for yes1
enter your Systolic blood pressure1
enter your Diastolic blood pressure1
enter you cholestrol level : 1 for normal 2 : high 3: very high1
enter your gender (1 - women, 2 - men)1
enter your glucode level 1: normal, 2: high, 3: very high1
enter your height1
DO you smoke 0 - no 1-yes 1
enter your weight1

In [86]:
vocab = X_test.columns.tolist()[:]

In [88]:
y_test_in = pd.DataFrame(features, vocab)
X_eval = y_test_in.T

In [90]:
y_eval = model.predict(X_eval)

In [91]:
y_eval

array([0])

In [85]:
vocab

['active',
 'age',
 'alco',
 'ap_hi',
 'ap_lo',
 'cholesterol',
 'gender',
 'gluc',
 'height',
 'smoke']